In [1]:
## Machine Learning with R by Brett Lantz
## Chapter 9: Finding Groups of Data - Clustering with k-means

In [2]:
#Example: Finding teen market segments using k-means clustering

In [5]:
#Step 1: Collecting data
#Step 2: Preparing and exploring data
teens <- read.csv("snsdata.csv")
head(teens)
str(teens)

  gradyear gender    age friends basketball football soccer softball volleyball
1     2006      M 18.982       7          0        0      0        0          0
2     2006      F 18.801       0          0        1      0        0          0
3     2006      M 18.335      69          0        1      0        0          0
4     2006      F 18.875       0          0        0      0        0          0
5     2006   <NA> 18.995      10          0        0      0        0          0
6     2006      F     NA     142          0        0      0        0          0
  swimming cheerleading baseball tennis sports cute sex sexy hot kissed dance
1        0            0        0      0      0    0   0    0   0      0     1
2        0            0        0      0      0    1   0    0   0      0     0
3        0            0        0      0      0    0   0    0   0      0     0
4        0            0        0      0      0    1   0    0   0      0     0
5        0            0        0      0      0    0   1    0   0      5     1
6        0            0        0      0      0    0   1    0   0      0     0
  band marching music rock god church jesus bible hair dress blonde mall
1    0        0     0    0   0      0     0     0    0     0      0    0
2    0        0     2    2   1      0     0     0    6     4      0    1
3    2        0     1    0   0      0     0     0    0     0      0    0
4    0        0     0    1   0      0     0     0    0     0      0    0
5    1        0     3    0   1      0     0     0    1     0      0    0
6    0        1     2    0   0      0     0     0    0     1      0    0
  shopping clothes hollister abercrombie die death drunk drugs
1        0       0         0           0   0     0     0     0
2        0       0         0           0   0     0     0     0
3        0       0         0           0   0     1     0     0
4        0       0         0           0   0     0     0     0
5        2       0         0           0   0     0     1     1
6        1       0         0           0   0     0     1     0

'data.frame':	30000 obs. of  40 variables:
 $ gradyear    : int  2006 2006 2006 2006 2006 2006 2006 2006 2006 2006 ...
 $ gender      : Factor w/ 2 levels "F","M": 2 1 2 1 NA 1 1 2 1 1 ...
 $ age         : num  19 18.8 18.3 18.9 19 ...
 $ friends     : int  7 0 69 0 10 142 72 17 52 39 ...
 $ basketball  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ football    : int  0 1 1 0 0 0 0 0 0 0 ...
 $ soccer      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ softball    : int  0 0 0 0 0 0 0 1 0 0 ...
 $ volleyball  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ swimming    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ cheerleading: int  0 0 0 0 0 0 0 0 0 0 ...
 $ baseball    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ tennis      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ sports      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ cute        : int  0 1 0 1 0 0 0 0 0 1 ...
 $ sex         : int  0 0 0 0 1 1 0 2 0 0 ...
 $ sexy        : int  0 0 0 0 0 0 0 1 0 0 ...
 $ hot         : int  0 0 0 0 0 0 0 0 0 1 ...
 $ kissed      : int  0 0 0 0 5 0 0 0 0 0 ...
 $ dance       : int  1 0 0 0 1 0 0 0 0 0 ...
 $ band        : int  0 0 2 0 1 0 1 0 0 0 ...
 $ marching    : int  0 0 0 0 0 1 1 0 0 0 ...
 $ music       : int  0 2 1 0 3 2 0 1 0 1 ...
 $ rock        : int  0 2 0 1 0 0 0 1 0 1 ...
 $ god         : int  0 1 0 0 1 0 0 0 0 6 ...
 $ church      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ jesus       : int  0 0 0 0 0 0 0 0 0 2 ...
 $ bible       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ hair        : int  0 6 0 0 1 0 0 0 0 1 ...
 $ dress       : int  0 4 0 0 0 1 0 0 0 0 ...
 $ blonde      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mall        : int  0 1 0 0 0 0 2 0 0 0 ...
 $ shopping    : int  0 0 0 0 2 1 0 0 0 1 ...
 $ clothes     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ hollister   : int  0 0 0 0 0 0 2 0 0 0 ...
 $ abercrombie : int  0 0 0 0 0 0 0 0 0 0 ...
 $ die         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ death       : int  0 0 1 0 0 0 0 0 0 0 ...
 $ drunk       : int  0 0 0 0 1 1 0 0 0 0 ...
 $ drugs       : int  0 0 0 0 1 0 0 0 0 0 ...

In [9]:
#check if missing values on genre
table(teens$gender, useNA = "ifany")

    F     M  <NA>
22054  5222  2724

In [10]:
#Check if there are missing values on age
#Check max and min 
summary(teens$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  3.086  16.310  17.290  17.990  18.260 106.900    5086

In [13]:
#We'll treat non-teenagers as missing values
teens$age <- ifelse(teens$age >= 13 & teens$age <20, teens$age, NA )
summary(teens$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  13.03   16.30   17.26   17.25   18.22   20.00    5523

In [15]:
#Data preparation - dummy coding missing values
teens$female <- ifelse(teens$gender == "F" & !is.na(teens$gender), 1, 0)
teens$nogender <- ifelse(is.na(teens$gender), 1, 0)

In [18]:
table(teens$gender, useNA = "ifany")
table(teens$female, useNA = "ifany")
table(teens$nogender, useNA = "ifany")

    F     M  <NA>
22054  5222  2724

    0     1
 7946 22054

    0     1
27276  2724

In [21]:
#Imputing missing values
mean(teens$age)
mean(teens$age, na.rm = TRUE)

[1] NA

[1] 17.25243

In [25]:
#Compute mean age by gradyear skipping NA values
aggregate(data = teens, age ~ gradyear, mean, na.rm = TRUE)

  gradyear      age
1     2006 18.65586
2     2007 17.70617
3     2008 16.76770
4     2009 15.81957

In [26]:
ave_age <- ave(teens$age, teens$gradyear, FUN = function(x) mean(x, na.rm = TRUE))
teens$age <- ifelse(is.na(teens$age), ave_age, teens$age)

In [27]:
summary(teens$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  13.03   16.28   17.24   17.24   18.21   20.00

In [28]:
#Step 3: Training a model on the data
install.packages("stats", repos = "https://cran.r-project.org")
library(stats)

Warning message:
: package 'stats' is not available (for R version 3.2.3)

In [30]:
#The dataset should be all numeric
#First let's just consider those features that denotes interests' teenagers
interests <- teens[5:40]
head(interests)

  basketball football soccer softball volleyball swimming cheerleading baseball
1          0        0      0        0          0        0            0        0
2          0        1      0        0          0        0            0        0
3          0        1      0        0          0        0            0        0
4          0        0      0        0          0        0            0        0
5          0        0      0        0          0        0            0        0
6          0        0      0        0          0        0            0        0
  tennis sports cute sex sexy hot kissed dance band marching music rock god
1      0      0    0   0    0   0      0     1    0        0     0    0   0
2      0      0    1   0    0   0      0     0    0        0     2    2   1
3      0      0    0   0    0   0      0     0    2        0     1    0   0
4      0      0    1   0    0   0      0     0    0        0     0    1   0
5      0      0    0   1    0   0      5     1    1        0     3    0   1
6      0      0    0   1    0   0      0     0    0        1     2    0   0
  church jesus bible hair dress blonde mall shopping clothes hollister
1      0     0     0    0     0      0    0        0       0         0
2      0     0     0    6     4      0    1        0       0         0
3      0     0     0    0     0      0    0        0       0         0
4      0     0     0    0     0      0    0        0       0         0
5      0     0     0    1     0      0    0        2       0         0
6      0     0     0    0     1      0    0        1       0         0
  abercrombie die death drunk drugs
1           0   0     0     0     0
2           0   0     0     0     0
3           0   0     1     0     0
4           0   0     0     0     0
5           0   0     0     1     1
6           0   0     0     1     0

In [32]:
#We should scale by z-core technique using lapply and scale son larger values don't dominate
interests_z <- as.data.frame(lapply(interests, scale))
head(interests_z)

  basketball   football     soccer   softball volleyball   swimming
1 -0.3322117 -0.3576914 -0.2428701 -0.2179242 -0.2236659 -0.2599662
2 -0.3322117  1.0600312 -0.2428701 -0.2179242 -0.2236659 -0.2599662
3 -0.3322117  1.0600312 -0.2428701 -0.2179242 -0.2236659 -0.2599662
4 -0.3322117 -0.3576914 -0.2428701 -0.2179242 -0.2236659 -0.2599662
5 -0.3322117 -0.3576914 -0.2428701 -0.2179242 -0.2236659 -0.2599662
6 -0.3322117 -0.3576914 -0.2428701 -0.2179242 -0.2236659 -0.2599662
  cheerleading   baseball     tennis     sports       cute        sex
1   -0.2073236 -0.2011273 -0.1689361 -0.2971184 -0.4023555 -0.1863812
2   -0.2073236 -0.2011273 -0.1689361 -0.2971184  0.8438417 -0.1863812
3   -0.2073236 -0.2011273 -0.1689361 -0.2971184 -0.4023555 -0.1863812
4   -0.2073236 -0.2011273 -0.1689361 -0.2971184  0.8438417 -0.1863812
5   -0.2073236 -0.2011273 -0.1689361 -0.2971184 -0.4023555  0.7036915
6   -0.2073236 -0.2011273 -0.1689361 -0.2971184 -0.4023555  0.7036915
        sexy        hot    kissed      dance       band   marching      music
1 -0.2673182 -0.2642206 -0.202616  0.4944488 -0.2677903 -0.1414187 -0.5891515
2 -0.2673182 -0.2642206 -0.202616 -0.3657115 -0.2677903 -0.1414187  1.0078256
3 -0.2673182 -0.2642206 -0.202616 -0.3657115  1.5198620 -0.1414187  0.2093371
4 -0.2673182 -0.2642206 -0.202616 -0.3657115 -0.2677903 -0.1414187 -0.5891515
5 -0.2673182 -0.2642206  9.614050  0.4944488  0.6260359 -0.1414187  1.8063142
6 -0.2673182 -0.2642206 -0.202616 -0.3657115 -0.2677903  3.3418014  1.0078256
        rock        god     church      jesus      bible       hair      dress
1 -0.3377872 -0.3464049 -0.2975519 -0.1926506 -0.1042455 -0.3848661 -0.2469018
2  2.4385462  0.3980715 -0.2975519 -0.1926506 -0.1042455  5.0798257  8.6531327
3 -0.3377872 -0.3464049 -0.2975519 -0.1926506 -0.1042455 -0.3848661 -0.2469018
4  1.0503795 -0.3464049 -0.2975519 -0.1926506 -0.1042455 -0.3848661 -0.2469018
5 -0.3377872  0.3980715 -0.2975519 -0.1926506 -0.1042455  0.5259159 -0.2469018
6 -0.3377872 -0.3464049 -0.2975519 -0.1926506 -0.1042455 -0.3848661  1.9781068
       blonde       mall   shopping    clothes  hollister abercrombie
1 -0.05093567 -0.3699086 -0.4873061 -0.3141926 -0.2014729  -0.1830287
2 -0.05093567  1.0673738 -0.4873061 -0.3141926 -0.2014729  -0.1830287
3 -0.05093567 -0.3699086 -0.4873061 -0.3141926 -0.2014729  -0.1830287
4 -0.05093567 -0.3699086 -0.4873061 -0.3141926 -0.2014729  -0.1830287
5 -0.05093567 -0.3699086  2.2736351 -0.3141926 -0.2014729  -0.1830287
6 -0.05093567 -0.3699086  0.8931645 -0.3141926 -0.2014729  -0.1830287
         die      death     drunk      drugs
1 -0.2947883 -0.2615258 -0.220399 -0.1749047
2 -0.2947883 -0.2615258 -0.220399 -0.1749047
3 -0.2947883  2.0278743 -0.220399 -0.1749047
4 -0.2947883 -0.2615258 -0.220399 -0.1749047
5 -0.2947883 -0.2615258  2.285084  2.7192710
6 -0.2947883 -0.2615258  2.285084 -0.1749047

In [33]:
teen_clusters <- kmeans(interests_z, 5)
summary(teen_clusters)

             Length Class  Mode
cluster      30000  -none- numeric
centers        180  -none- numeric
totss            1  -none- numeric
withinss         5  -none- numeric
tot.withinss     1  -none- numeric
betweenss        1  -none- numeric
size             5  -none- numeric
iter             1  -none- numeric
ifault           1  -none- numeric

In [36]:
#Step 4: Evaluating model performance
teen_clusters$size
teen_clusters$centers

[1]  1045   865 21538   448  6104

  basketball   football      soccer    softball  volleyball   swimming
1  0.3325368  0.3599883  0.12541338  0.16500266  0.10979703  0.2657117
2  0.1591166  0.2356214  0.10373936  0.06495622  0.17738164  0.2364598
3 -0.1648892 -0.1632466 -0.08837915 -0.11322795 -0.11469174 -0.1072936
4  0.1060574  0.1201571  0.11243273 -0.06402633  0.03793681  0.0983923
5  0.4945499  0.4721780  0.26742279  0.36677138  0.35797213  0.2923662
  cheerleading      baseball      tennis      sports        cute         sex
1   0.18525079  2.757587e-01  0.05319398  0.78560091  0.47654144  2.03496788
2   0.39506189  2.710582e-02  0.02785660  0.09062634  0.37273590  0.01941593
3  -0.11118454 -1.081304e-01 -0.11917993 -0.12749710 -0.18751989 -0.09885342
4  -0.08146709 -4.335426e-05  6.43300832  0.19566977  0.02046137 -0.07313537
5   0.31059538  3.304910e-01 -0.06467464  0.28817624  0.52575922  0.00303628
         sexy          hot      kissed        dance        band    marching
1  0.52256713  0.316958011  2.95562632  0.447530969  0.46523268  0.09524024
2  0.11788546  0.408943605  0.07202369  0.228942681 -0.09625836 -0.09309661
3 -0.08888138 -0.137668061 -0.13579812 -0.160995090 -0.09212099 -0.05716032
4 -0.05179899 -0.007997874 -0.06676034 -0.008591363  0.08136053 -0.02479306
5  0.21125155  0.374135060 -0.03214308  0.459642186  0.25307136  0.20039792
        music        rock         god       church         jesus       bible
1  1.15224125  1.23768236  0.41445712  0.160248183  0.1231979520  0.08747395
2  0.13271910  0.06341702  0.03745233 -0.003692874  0.0180101753 -0.03645580
3 -0.15668936 -0.12864056 -0.12266098 -0.159047253 -0.0876131084 -0.07202877
4  0.08457324  0.04643748  0.05574533  0.181512917 -0.0007899544  0.01573572
5  0.33060164  0.22962364  0.35245648  0.520966077  0.2855577272  0.24318971
         hair       dress      blonde        mall    shopping     clothes
1  2.54706743  0.54302950  0.36636250  0.61487053  0.26435682  1.22050377
2  0.44168170  0.14922691  0.06096202  0.61375750  0.78942969  0.56636128
3 -0.20556832 -0.14504189 -0.02946971 -0.18786259 -0.22996610 -0.18972949
4 -0.02299291 -0.01347455  0.02376332 -0.07475237  0.09816132  0.07779253
5  0.22838978  0.39865690  0.03088002  0.47611952  0.64710418  0.37454355
    hollister abercrombie         die       death        drunk       drugs
1  0.15450255  0.25854732  1.69718502  0.92370429  1.879890886  2.73311873
2  4.14571210  3.96476243  0.04582231  0.09842612  0.034494077  0.03588499
3 -0.15528159 -0.14981198 -0.09688222 -0.08603135 -0.089296772 -0.11389829
4 -0.07273732  0.01658671 -0.06961391  0.03486974 -0.063806294 -0.06508105
5 -0.06069051 -0.07871591  0.04990853  0.12891743 -0.006956792 -0.06632568

In [47]:
#Step 5: Improving model performance
#Merge cluster label to its indiviudal on original teens dataset
teens$cluster <- teen_clusters$cluste
head(teens[c("cluster", "gender", "age", "friends", "female")])

  cluster gender      age friends female
1       3      M 18.98200       7      0
2       5      F 18.80100       0      1
3       3      M 18.33500      69      0
4       3      F 18.87500       0      1
5       1   <NA> 18.99500      10      0
6       3      F 18.65586     142      1

In [46]:
#Check average age by cluster
aggregate(data = teens, age ~ cluster, mean)

  cluster      age
1       1 17.12754
2       2 16.86781
3       3 17.29867
4       4 17.22877
5       5 17.09266

In [48]:
#Check average female by cluster
aggregate(data = teens, female ~ cluster, mean)

  cluster    female
1       1 0.8038278
2       2 0.8369942
3       3 0.6991828
4       4 0.7008929
5       5 0.8383028

In [49]:
aggregate(data = teens, friends ~ cluster, mean)

  cluster  friends
1       1 30.64689
2       2 41.44046
3       3 27.72732
4       4 31.48438
5       5 37.06029