In [1]:
## Machine Learning with R by Brett Lantz
## Chapter 11: Improving model performance

In [1]:
#Creating a simple tuned model
credit <- read.csv("credit.csv")
credit$default <- as.factor(credit$default)
install.packages("caret", repos = "https://cran.r-project.org")
library(caret)
install.packages("C50", repos = "https://cran.r-project.org")
library(C50)

package 'caret' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Administrator\AppData\Local\Temp\RtmpU18n4d\downloaded_packages

Warning message:
: package 'caret' was built under R version 3.2.5Loading required package: lattice
Loading required package: ggplot2
Warning message:
: package 'ggplot2' was built under R version 3.2.5

package 'C50' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Administrator\AppData\Local\Temp\RtmpU18n4d\downloaded_packages

Warning message:
: package 'C50' was built under R version 3.2.5

In [ ]:
set.seed(300)
#m <- train(default ~ ., data = credit, method = "C5.0")

Loading required package: plyr
Warning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,6,7,10,11,12,15,16,17,19,21,23,28,33,35,38,40,41,42,44,49,51,53,56,57,59,61,62,69,71,72,73,75,78,79,82,85,90,93,102,104,107,111,115,116,119,124,126,132,133,134,136,138,143,144,148,149,153,154,157,158,160,162,163,165,166,167,168,171,174,176,178,179,187,189,195,198,205,206,207,209,211,213,214,216,218,220,221,222,226,232,236,240,242,244,248,250,251,253,254,256,257,259,265,271,273,276,278,282,291,292,294,298,307,312,314,319,322,326,329,330,331,333,336,338,341,344,345,348,349,353,356,359,360,362,363,366,369,372,374,375,381,383,387,388,390,396,398,401,402,404,405,406,408,410,411,413,416,426,427,431,433,436,437,440,443,445,450,451,453,455,458,461,466,470,472,476,477,478,480,481,482,484,487,488,489,492,496,500,506,507,510,512,514,516,517,521,524,526,530,536,537,541,542,544,547,549,559,562,564,565,567,572,574,575,583,587,589,594,597,599,605,607,608,609,613,618,622,624,627,631,634,637,638,639,646,648,651,654,660,663,665,667,669,672,674,675,678,682,684,686,688,690,691,693,697,699,705,707,709,711,712,715,717,719,720,721,724,725,727,731,733,735,738,742,744,747,749,751,753,754,757,758,761,765,767,768,772,774,777,779,781,784,786,788,789,791,799,801,802,804,806,807,810,813,815,822,825,830,831,833,834,850,851,853,856,860,862,869,871,873,878,881,884,886,890,891,893,895,896,897,899,900,902,905,910,912,914,919,924,925,926,930,933,934,936,938,940,943,947,959,965,967,969,976,978,981,987,989,991,992,993,994,997,998,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,6,7,10,11,12,15,16,17,19,21,23,28,33,35,38,40,41,42,44,49,51,53,56,57,59,61,62,69,71,72,73,75,78,79,82,85,90,93,102,104,107,111,115,116,119,124,126,132,133,134,136,138,143,144,148,149,153,154,157,158,160,162,163,165,166,167,168,171,174,176,178,179,187,189,195,198,205,206,207,209,211,213,214,216,218,220,221,222,226,232,236,240,242,244,248,250,251,253,254,256,257,259,265,271,273,276,278,282,291,292,294,298,307,312,314,319,322,326,329,330,331,333,336,338,341,344,345,348,349,353,356,359,360,362,363,366,369,372,374,375,381,383,387,388,390,396,398,401,402,404,405,406,408,410,411,413,416,426,427,431,433,436,437,440,443,445,450,451,453,455,458,461,466,470,472,476,477,478,480,481,482,484,487,488,489,492,496,500,506,507,510,512,514,516,517,521,524,526,530,536,537,541,542,544,547,549,559,562,564,565,567,572,574,575,583,587,589,594,597,599,605,607,608,609,613,618,622,624,627,631,634,637,638,639,646,648,651,654,660,663,665,667,669,672,674,675,678,682,684,686,688,690,691,693,697,699,705,707,709,711,712,715,717,719,720,721,724,725,727,731,733,735,738,742,744,747,749,751,753,754,757,758,761,765,767,768,772,774,777,779,781,784,786,788,789,791,799,801,802,804,806,807,810,813,815,822,825,830,831,833,834,850,851,853,856,860,862,869,871,873,878,881,884,886,890,891,893,895,896,897,899,900,902,905,910,912,914,919,924,925,926,930,933,934,936,938,940,943,947,959,965,967,969,976,978,981,987,989,991,992,993,994,997,998,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,6,7,10,11,12,15,16,17,19,21,23,28,33,35,38,40,41,42,44,49,51,53,56,57,59,61,62,69,71,72,73,75,78,79,82,85,90,93,102,104,107,111,115,116,119,124,126,132,133,134,136,138,143,144,148,149,153,154,157,158,160,162,163,165,166,167,168,171,174,176,178,179,187,189,195,198,205,206,207,209,211,213,214,216,218,220,221,222,226,232,236,240,242,244,248,250,251,253,254,256,257,259,265,271,273,276,278,282,291,292,294,298,307,312,314,319,322,326,329,330,331,333,336,338,341,344,345,348,349,353,356,359,360,362,363,366,369,372,374,375,381,383,387,388,390,396,398,401,402,404,405,406,408,410,411,413,416,426,427,431,433,436,437,440,443,445,450,451,453,455,458,461,466,470,472,476,477,478,480,481,482,484,487,488,489,492,496,500,506,507,510,512,514,516,517,521,524,526,530,536,537,541,542,544,547,549,559,562,564,565,567,572,574,575,583,587,589,594,597,599,605,607,608,609,613,618,622,624,627,631,634,637,638,639,646,648,651,654,660,663,665,667,669,672,674,675,678,682,684,686,688,690,691,693,697,699,705,707,709,711,712,715,717,719,720,721,724,725,727,731,733,735,738,742,744,747,749,751,753,754,757,758,761,765,767,768,772,774,777,779,781,784,786,788,789,791,799,801,802,804,806,807,810,813,815,822,825,830,831,833,834,850,851,853,856,860,862,869,871,873,878,881,884,886,890,891,893,895,896,897,899,900,902,905,910,912,914,919,924,925,926,930,933,934,936,938,940,943,947,959,965,967,969,976,978,981,987,989,991,992,993,994,997,998,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,6,7,10,11,12,15,16,17,19,21,23,28,33,35,38,40,41,42,44,49,51,53,56,57,59,61,62,69,71,72,73,75,78,79,82,85,90,93,102,104,107,111,115,116,119,124,126,132,133,134,136,138,143,144,148,149,153,154,157,158,160,162,163,165,166,167,168,171,174,176,178,179,187,189,195,198,205,206,207,209,211,213,214,216,218,220,221,222,226,232,236,240,242,244,248,250,251,253,254,256,257,259,265,271,273,276,278,282,291,292,294,298,307,312,314,319,322,326,329,330,331,333,336,338,341,344,345,348,349,353,356,359,360,362,363,366,369,372,374,375,381,383,387,388,390,396,398,401,402,404,405,406,408,410,411,413,416,426,427,431,433,436,437,440,443,445,450,451,453,455,458,461,466,470,472,476,477,478,480,481,482,484,487,488,489,492,496,500,506,507,510,512,514,516,517,521,524,526,530,536,537,541,542,544,547,549,559,562,564,565,567,572,574,575,583,587,589,594,597,599,605,607,608,609,613,618,622,624,627,631,634,637,638,639,646,648,651,654,660,663,665,667,669,672,674,675,678,682,684,686,688,690,691,693,697,699,705,707,709,711,712,715,717,719,720,721,724,725,727,731,733,735,738,742,744,747,749,751,753,754,757,758,761,765,767,768,772,774,777,779,781,784,786,788,789,791,799,801,802,804,806,807,810,813,815,822,825,830,831,833,834,850,851,853,856,860,862,869,871,873,878,881,884,886,890,891,893,895,896,897,899,900,902,905,910,912,914,919,924,925,926,930,933,934,936,938,940,943,947,959,965,967,969,976,978,981,987,989,991,992,993,994,997,998,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 4,6,9,11,12,16,19,21,27,28,29,37,39,40,43,46,48,53,56,59,61,63,64,67,71,74,75,78,79,82,87,88,92,93,95,97,98,102,104,106,107,117,122,123,125,135,138,144,147,152,153,154,156,161,166,170,172,178,180,182,185,193,195,196,200,203,206,211,213,215,219,229,232,235,236,242,244,247,249,251,253,255,259,262,269,271,273,274,281,283,285,287,290,291,293,296,298,299,301,302,304,308,311,313,314,315,319,320,321,326,344,346,347,349,351,352,354,359,361,364,365,368,371,372,374,378,380,386,388,393,397,403,407,415,417,422,423,425,426,427,428,433,436,437,442,443,445,448,451,452,454,457,458,461,463,464,465,467,468,471,472,477,489,491,494,495,497,500,503,505,506,508,510,511,519,523,524,527,533,537,540,544,545,547,552,560,562,563,564,567,569,572,573,576,578,580,583,585,592,593,595,597,600,601,603,608,612,613,615,617,619,623,627,632,635,636,640,643,648,651,653,657,660,664,673,674,676,677,680,682,683,685,686,687,690,695,696,699,702,704,707,712,721,722,727,733,736,737,739,740,742,743,747,751,755,757,759,761,764,766,769,770,773,774,776,778,780,783,786,788,794,795,797,801,802,804,805,808,811,813,816,819,821,826,828,829,832,838,840,841,842,844,847,851,853,862,863,865,868,875,876,883,886,887,888,890,891,894,895,897,900,903,908,910,919,920,922,924,925,927,930,934,936,937,938,941,942,944,946,948,956,957,961,963,965,967,968,970,972,978,979,984,985,990,992,994,999,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 4,6,9,11,12,16,19,21,27,28,29,37,39,40,43,46,48,53,56,59,61,63,64,67,71,74,75,78,79,82,87,88,92,93,95,97,98,102,104,106,107,117,122,123,125,135,138,144,147,152,153,154,156,161,166,170,172,178,180,182,185,193,195,196,200,203,206,211,213,215,219,229,232,235,236,242,244,247,249,251,253,255,259,262,269,271,273,274,281,283,285,287,290,291,293,296,298,299,301,302,304,308,311,313,314,315,319,320,321,326,344,346,347,349,351,352,354,359,361,364,365,368,371,372,374,378,380,386,388,393,397,403,407,415,417,422,423,425,426,427,428,433,436,437,442,443,445,448,451,452,454,457,458,461,463,464,465,467,468,471,472,477,489,491,494,495,497,500,503,505,506,508,510,511,519,523,524,527,533,537,540,544,545,547,552,560,562,563,564,567,569,572,573,576,578,580,583,585,592,593,595,597,600,601,603,608,612,613,615,617,619,623,627,632,635,636,640,643,648,651,653,657,660,664,673,674,676,677,680,682,683,685,686,687,690,695,696,699,702,704,707,712,721,722,727,733,736,737,739,740,742,743,747,751,755,757,759,761,764,766,769,770,773,774,776,778,780,783,786,788,794,795,797,801,802,804,805,808,811,813,816,819,821,826,828,829,832,838,840,841,842,844,847,851,853,862,863,865,868,875,876,883,886,887,888,890,891,894,895,897,900,903,908,910,919,920,922,924,925,927,930,934,936,937,938,941,942,944,946,948,956,957,961,963,965,967,968,970,972,978,979,984,985,990,992,994,999,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 4,6,9,11,12,16,19,21,27,28,29,37,39,40,43,46,48,53,56,59,61,63,64,67,71,74,75,78,79,82,87,88,92,93,95,97,98,102,104,106,107,117,122,123,125,135,138,144,147,152,153,154,156,161,166,170,172,178,180,182,185,193,195,196,200,203,206,211,213,215,219,229,232,235,236,242,244,247,249,251,253,255,259,262,269,271,273,274,281,283,285,287,290,291,293,296,298,299,301,302,304,308,311,313,314,315,319,320,321,326,344,346,347,349,351,352,354,359,361,364,365,368,371,372,374,378,380,386,388,393,397,403,407,415,417,422,423,425,426,427,428,433,436,437,442,443,445,448,451,452,454,457,458,461,463,464,465,467,468,471,472,477,489,491,494,495,497,500,503,505,506,508,510,511,519,523,524,527,533,537,540,544,545,547,552,560,562,563,564,567,569,572,573,576,578,580,583,585,592,593,595,597,600,601,603,608,612,613,615,617,619,623,627,632,635,636,640,643,648,651,653,657,660,664,673,674,676,677,680,682,683,685,686,687,690,695,696,699,702,704,707,712,721,722,727,733,736,737,739,740,742,743,747,751,755,757,759,761,764,766,769,770,773,774,776,778,780,783,786,788,794,795,797,801,802,804,805,808,811,813,816,819,821,826,828,829,832,838,840,841,842,844,847,851,853,862,863,865,868,875,876,883,886,887,888,890,891,894,895,897,900,903,908,910,919,920,922,924,925,927,930,934,936,937,938,941,942,944,946,948,956,957,961,963,965,967,968,970,972,978,979,984,985,990,992,994,999,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 4,6,9,11,12,16,19,21,27,28,29,37,39,40,43,46,48,53,56,59,61,63,64,67,71,74,75,78,79,82,87,88,92,93,95,97,98,102,104,106,107,117,122,123,125,135,138,144,147,152,153,154,156,161,166,170,172,178,180,182,185,193,195,196,200,203,206,211,213,215,219,229,232,235,236,242,244,247,249,251,253,255,259,262,269,271,273,274,281,283,285,287,290,291,293,296,298,299,301,302,304,308,311,313,314,315,319,320,321,326,344,346,347,349,351,352,354,359,361,364,365,368,371,372,374,378,380,386,388,393,397,403,407,415,417,422,423,425,426,427,428,433,436,437,442,443,445,448,451,452,454,457,458,461,463,464,465,467,468,471,472,477,489,491,494,495,497,500,503,505,506,508,510,511,519,523,524,527,533,537,540,544,545,547,552,560,562,563,564,567,569,572,573,576,578,580,583,585,592,593,595,597,600,601,603,608,612,613,615,617,619,623,627,632,635,636,640,643,648,651,653,657,660,664,673,674,676,677,680,682,683,685,686,687,690,695,696,699,702,704,707,712,721,722,727,733,736,737,739,740,742,743,747,751,755,757,759,761,764,766,769,770,773,774,776,778,780,783,786,788,794,795,797,801,802,804,805,808,811,813,816,819,821,826,828,829,832,838,840,841,842,844,847,851,853,862,863,865,868,875,876,883,886,887,888,890,891,894,895,897,900,903,908,910,919,920,922,924,925,927,930,934,936,937,938,941,942,944,946,948,956,957,961,963,965,967,968,970,972,978,979,984,985,990,992,994,999,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,10,16,19,25,28,35,36,39,43,46,48,49,54,55,58,64,66,70,74,75,78,80,82,84,87,90,92,94,99,102,104,109,112,115,120,122,123,133,135,136,138,142,143,144,148,150,154,156,157,165,166,169,171,172,173,175,178,179,181,187,190,195,197,203,205,210,212,213,216,218,222,225,227,229,231,232,233,241,242,243,244,246,248,252,254,255,257,261,265,267,269,273,275,278,279,281,282,285,288,294,298,301,304,308,312,318,322,323,326,330,331,342,343,346,348,349,352,354,355,357,361,363,364,365,367,369,370,372,375,376,379,380,384,393,398,404,409,410,415,417,418,421,422,428,432,436,437,445,448,451,456,457,459,461,464,465,467,470,471,473,475,476,477,480,485,488,495,497,498,500,501,503,507,510,511,514,516,519,521,523,524,526,528,529,533,534,536,539,541,548,550,555,565,568,570,572,573,574,579,581,588,589,591,593,594,595,597,599,602,603,604,608,609,616,617,618,619,621,622,625,627,636,637,638,642,644,646,648,650,652,656,660,661,664,666,670,671,673,679,682,684,685,686,688,692,693,698,699,703,710,713,715,716,718,721,722,724,727,728,731,732,733,735,737,740,743,745,746,747,750,753,754,756,758,760,761,765,769,771,772,773,776,779,780,783,787,788,790,791,793,795,800,802,803,806,807,809,813,816,818,821,822,823,825,826,829,830,832,838,839,841,845,848,849,852,854,860,863,868,871,872,873,875,879,883,886,892,896,899,900,904,906,908,910,911,913,925,927,930,931,934,936,939,943,944,946,948,949,951,953,954,955,959,960,962,963,967,971,972,973,975,976,979,981,987,989,991,993,997 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,10,16,19,25,28,35,36,39,43,46,48,49,54,55,58,64,66,70,74,75,78,80,82,84,87,90,92,94,99,102,104,109,112,115,120,122,123,133,135,136,138,142,143,144,148,150,154,156,157,165,166,169,171,172,173,175,178,179,181,187,190,195,197,203,205,210,212,213,216,218,222,225,227,229,231,232,233,241,242,243,244,246,248,252,254,255,257,261,265,267,269,273,275,278,279,281,282,285,288,294,298,301,304,308,312,318,322,323,326,330,331,342,343,346,348,349,352,354,355,357,361,363,364,365,367,369,370,372,375,376,379,380,384,393,398,404,409,410,415,417,418,421,422,428,432,436,437,445,448,451,456,457,459,461,464,465,467,470,471,473,475,476,477,480,485,488,495,497,498,500,501,503,507,510,511,514,516,519,521,523,524,526,528,529,533,534,536,539,541,548,550,555,565,568,570,572,573,574,579,581,588,589,591,593,594,595,597,599,602,603,604,608,609,616,617,618,619,621,622,625,627,636,637,638,642,644,646,648,650,652,656,660,661,664,666,670,671,673,679,682,684,685,686,688,692,693,698,699,703,710,713,715,716,718,721,722,724,727,728,731,732,733,735,737,740,743,745,746,747,750,753,754,756,758,760,761,765,769,771,772,773,776,779,780,783,787,788,790,791,793,795,800,802,803,806,807,809,813,816,818,821,822,823,825,826,829,830,832,838,839,841,845,848,849,852,854,860,863,868,871,872,873,875,879,883,886,892,896,899,900,904,906,908,910,911,913,925,927,930,931,934,936,939,943,944,946,948,949,951,953,954,955,959,960,962,963,967,971,972,973,975,976,979,981,987,989,991,993,997 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,10,16,19,25,28,35,36,39,43,46,48,49,54,55,58,64,66,70,74,75,78,80,82,84,87,90,92,94,99,102,104,109,112,115,120,122,123,133,135,136,138,142,143,144,148,150,154,156,157,165,166,169,171,172,173,175,178,179,181,187,190,195,197,203,205,210,212,213,216,218,222,225,227,229,231,232,233,241,242,243,244,246,248,252,254,255,257,261,265,267,269,273,275,278,279,281,282,285,288,294,298,301,304,308,312,318,322,323,326,330,331,342,343,346,348,349,352,354,355,357,361,363,364,365,367,369,370,372,375,376,379,380,384,393,398,404,409,410,415,417,418,421,422,428,432,436,437,445,448,451,456,457,459,461,464,465,467,470,471,473,475,476,477,480,485,488,495,497,498,500,501,503,507,510,511,514,516,519,521,523,524,526,528,529,533,534,536,539,541,548,550,555,565,568,570,572,573,574,579,581,588,589,591,593,594,595,597,599,602,603,604,608,609,616,617,618,619,621,622,625,627,636,637,638,642,644,646,648,650,652,656,660,661,664,666,670,671,673,679,682,684,685,686,688,692,693,698,699,703,710,713,715,716,718,721,722,724,727,728,731,732,733,735,737,740,743,745,746,747,750,753,754,756,758,760,761,765,769,771,772,773,776,779,780,783,787,788,790,791,793,795,800,802,803,806,807,809,813,816,818,821,822,823,825,826,829,830,832,838,839,841,845,848,849,852,854,860,863,868,871,872,873,875,879,883,886,892,896,899,900,904,906,908,910,911,913,925,927,930,931,934,936,939,943,944,946,948,949,951,953,954,955,959,960,962,963,967,971,972,973,975,976,979,981,987,989,991,993,997 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,10,16,19,25,28,35,36,39,43,46,48,49,54,55,58,64,66,70,74,75,78,80,82,84,87,90,92,94,99,102,104,109,112,115,120,122,123,133,135,136,138,142,143,144,148,150,154,156,157,165,166,169,171,172,173,175,178,179,181,187,190,195,197,203,205,210,212,213,216,218,222,225,227,229,231,232,233,241,242,243,244,246,248,252,254,255,257,261,265,267,269,273,275,278,279,281,282,285,288,294,298,301,304,308,312,318,322,323,326,330,331,342,343,346,348,349,352,354,355,357,361,363,364,365,367,369,370,372,375,376,379,380,384,393,398,404,409,410,415,417,418,421,422,428,432,436,437,445,448,451,456,457,459,461,464,465,467,470,471,473,475,476,477,480,485,488,495,497,498,500,501,503,507,510,511,514,516,519,521,523,524,526,528,529,533,534,536,539,541,548,550,555,565,568,570,572,573,574,579,581,588,589,591,593,594,595,597,599,602,603,604,608,609,616,617,618,619,621,622,625,627,636,637,638,642,644,646,648,650,652,656,660,661,664,666,670,671,673,679,682,684,685,686,688,692,693,698,699,703,710,713,715,716,718,721,722,724,727,728,731,732,733,735,737,740,743,745,746,747,750,753,754,756,758,760,761,765,769,771,772,773,776,779,780,783,787,788,790,791,793,795,800,802,803,806,807,809,813,816,818,821,822,823,825,826,829,830,832,838,839,841,845,848,849,852,854,860,863,868,871,872,873,875,879,883,886,892,896,899,900,904,906,908,910,911,913,925,927,930,931,934,936,939,943,944,946,948,949,951,953,954,955,959,960,962,963,967,971,972,973,975,976,979,981,987,989,991,993,997 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,6,12,14,19,20,27,29,31,34,36,39,41,43,48,49,52,56,57,58,60,62,63,64,66,69,70,73,77,80,82,84,94,95,98,101,102,106,109,110,112,116,117,119,120,126,127,129,135,140,142,145,146,147,150,152,154,159,162,163,169,175,176,177,178,184,187,191,192,194,197,200,206,208,209,210,212,214,215,216,219,221,224,228,231,233,235,237,239,240,242,243,245,246,247,249,250,251,252,254,256,258,260,262,263,264,273,277,281,288,290,295,296,299,304,305,309,311,317,320,322,327,329,343,345,347,348,351,352,359,363,366,371,375,379,381,383,393,399,404,407,408,410,412,413,417,419,420,426,430,432,434,435,437,443,445,447,450,451,452,454,457,464,465,471,472,474,475,477,478,479,482,483,485,487,491,492,495,497,500,503,516,517,519,522,523,526,529,532,533,536,537,538,540,542,547,549,551,555,559,562,566,571,572,574,575,577,578,582,583,585,588,591,592,595,599,601,602,606,608,614,615,620,628,631,632,635,636,639,641,648,651,654,656,658,662,663,670,671,674,677,679,680,682,683,689,692,694,695,697,698,702,703,704,706,709,715,717,719,720,723,725,732,734,739,740,742,746,747,751,753,754,757,758,760,763,773,777,781,782,784,787,789,792,793,797,801,805,812,814,817,820,824,825,826,831,833,835,838,839,842,845,847,849,853,855,859,863,869,871,872,874,878,881,883,884,885,888,891,892,894,895,897,898,901,903,906,910,911,914,915,917,918,922,923,926,930,932,937,940,943,946,947,950,954,956,957,959,962,972,973,974,976,977,978,979,984,987,988,990,991,995,997,998,999 --> row.names NOT usedWarning message:

In [ ]:
#m

In [ ]:
p <- predict(m, credit)
table(p, credit$default)

In [ ]:
head(predict(m, credit))

In [1]:
#Obtaining estimated probabilities
head(predict(m, credit, type = "prob"))

ERROR: Error in predict(m, credit, type = "prob"): objeto 'm' no encontrado

In [14]:
#--------------------------------------------------------------------------------
#Customizing tuning process
ctrl <- trainControl(method = "cv", number = 10, selectionFunction = "oneSE")

In [15]:
#build a grid of parameters to optimize (each row will be used to genereate a candidate model for evaluation)
grid <- expand.grid(.model = "tree", .trials = c(1,5,10,15,20,25,30,35), .winnow = FALSE)
grid

  .model .trials .winnow
1   tree       1   FALSE
2   tree       5   FALSE
3   tree      10   FALSE
4   tree      15   FALSE
5   tree      20   FALSE
6   tree      25   FALSE
7   tree      30   FALSE
8   tree      35   FALSE

In [9]:
set.seed(300)
m <- train(default ~., data = credit, method = "C5.0", metric = "Kappa", trControl = ctrl, tuneGrid = grid)

Loading required package: plyr

In [10]:
m

C5.0

1000 samples
  20 predictor
   2 classes: '1', '2'

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 900, 900, 900, 900, 900, 900, ...
Resampling results across tuning parameters:

  trials  Accuracy  Kappa
   1      0.710     0.2594757
   5      0.751     0.3817383
  10      0.751     0.3703312
  15      0.746     0.3651919
  20      0.761     0.3882851
  25      0.764     0.3968273
  30      0.762     0.3946626
  35      0.758     0.3830131

Tuning parameter 'model' was held constant at a value of tree
Tuning
 parameter 'winnow' was held constant at a value of FALSE
Kappa was used to select the optimal model using  the one SE rule.
The final values used for the model were trials = 5, model = tree and winnow
 = FALSE.

In [4]:
#Bagging (bootstrap aggregating)
install.packages("ipred", repos = "https://cran.r-project.org")
library(ipred)

Warning message:
: package 'ipred' is in use and will not be installed

In [16]:
set.seed(300)
mybag <- bagging(default ~ ., data = credit, nbagg = 25)
credit_pred <- predict(mybag, credit)
table(credit_pred, credit$default)

credit_pred   1   2
          1 700   0
          2   0 300

In [17]:
set.seed(300)
ctrl <- trainControl(method = "cv", number = 10)
train(default ~ ., data = credit, method = "treebag", trcontrol = ctrl)

Warning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,6,7,10,11,12,15,16,17,19,21,23,28,33,35,38,40,41,42,44,49,51,53,56,57,59,61,62,69,71,72,73,75,78,79,82,85,90,93,102,104,107,111,115,116,119,124,126,132,133,134,136,138,143,144,148,149,153,154,157,158,160,162,163,165,166,167,168,171,174,176,178,179,187,189,195,198,205,206,207,209,211,213,214,216,218,220,221,222,226,232,236,240,242,244,248,250,251,253,254,256,257,259,265,271,273,276,278,282,291,292,294,298,307,312,314,319,322,326,329,330,331,333,336,338,341,344,345,348,349,353,356,359,360,362,363,366,369,372,374,375,381,383,387,388,390,396,398,401,402,404,405,406,408,410,411,413,416,426,427,431,433,436,437,440,443,445,450,451,453,455,458,461,466,470,472,476,477,478,480,481,482,484,487,488,489,492,496,500,506,507,510,512,514,516,517,521,524,526,530,536,537,541,542,544,547,549,559,562,564,565,567,572,574,575,583,587,589,594,597,599,605,607,608,609,613,618,622,624,627,631,634,637,638,639,646,648,651,654,660,663,665,667,669,672,674,675,678,682,684,686,688,690,691,693,697,699,705,707,709,711,712,715,717,719,720,721,724,725,727,731,733,735,738,742,744,747,749,751,753,754,757,758,761,765,767,768,772,774,777,779,781,784,786,788,789,791,799,801,802,804,806,807,810,813,815,822,825,830,831,833,834,850,851,853,856,860,862,869,871,873,878,881,884,886,890,891,893,895,896,897,899,900,902,905,910,912,914,919,924,925,926,930,933,934,936,938,940,943,947,959,965,967,969,976,978,981,987,989,991,992,993,994,997,998,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 4,6,9,11,12,16,19,21,27,28,29,37,39,40,43,46,48,53,56,59,61,63,64,67,71,74,75,78,79,82,87,88,92,93,95,97,98,102,104,106,107,117,122,123,125,135,138,144,147,152,153,154,156,161,166,170,172,178,180,182,185,193,195,196,200,203,206,211,213,215,219,229,232,235,236,242,244,247,249,251,253,255,259,262,269,271,273,274,281,283,285,287,290,291,293,296,298,299,301,302,304,308,311,313,314,315,319,320,321,326,344,346,347,349,351,352,354,359,361,364,365,368,371,372,374,378,380,386,388,393,397,403,407,415,417,422,423,425,426,427,428,433,436,437,442,443,445,448,451,452,454,457,458,461,463,464,465,467,468,471,472,477,489,491,494,495,497,500,503,505,506,508,510,511,519,523,524,527,533,537,540,544,545,547,552,560,562,563,564,567,569,572,573,576,578,580,583,585,592,593,595,597,600,601,603,608,612,613,615,617,619,623,627,632,635,636,640,643,648,651,653,657,660,664,673,674,676,677,680,682,683,685,686,687,690,695,696,699,702,704,707,712,721,722,727,733,736,737,739,740,742,743,747,751,755,757,759,761,764,766,769,770,773,774,776,778,780,783,786,788,794,795,797,801,802,804,805,808,811,813,816,819,821,826,828,829,832,838,840,841,842,844,847,851,853,862,863,865,868,875,876,883,886,887,888,890,891,894,895,897,900,903,908,910,919,920,922,924,925,927,930,934,936,937,938,941,942,944,946,948,956,957,961,963,965,967,968,970,972,978,979,984,985,990,992,994,999,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,10,16,19,25,28,35,36,39,43,46,48,49,54,55,58,64,66,70,74,75,78,80,82,84,87,90,92,94,99,102,104,109,112,115,120,122,123,133,135,136,138,142,143,144,148,150,154,156,157,165,166,169,171,172,173,175,178,179,181,187,190,195,197,203,205,210,212,213,216,218,222,225,227,229,231,232,233,241,242,243,244,246,248,252,254,255,257,261,265,267,269,273,275,278,279,281,282,285,288,294,298,301,304,308,312,318,322,323,326,330,331,342,343,346,348,349,352,354,355,357,361,363,364,365,367,369,370,372,375,376,379,380,384,393,398,404,409,410,415,417,418,421,422,428,432,436,437,445,448,451,456,457,459,461,464,465,467,470,471,473,475,476,477,480,485,488,495,497,498,500,501,503,507,510,511,514,516,519,521,523,524,526,528,529,533,534,536,539,541,548,550,555,565,568,570,572,573,574,579,581,588,589,591,593,594,595,597,599,602,603,604,608,609,616,617,618,619,621,622,625,627,636,637,638,642,644,646,648,650,652,656,660,661,664,666,670,671,673,679,682,684,685,686,688,692,693,698,699,703,710,713,715,716,718,721,722,724,727,728,731,732,733,735,737,740,743,745,746,747,750,753,754,756,758,760,761,765,769,771,772,773,776,779,780,783,787,788,790,791,793,795,800,802,803,806,807,809,813,816,818,821,822,823,825,826,829,830,832,838,839,841,845,848,849,852,854,860,863,868,871,872,873,875,879,883,886,892,896,899,900,904,906,908,910,911,913,925,927,930,931,934,936,939,943,944,946,948,949,951,953,954,955,959,960,962,963,967,971,972,973,975,976,979,981,987,989,991,993,997 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,6,12,14,19,20,27,29,31,34,36,39,41,43,48,49,52,56,57,58,60,62,63,64,66,69,70,73,77,80,82,84,94,95,98,101,102,106,109,110,112,116,117,119,120,126,127,129,135,140,142,145,146,147,150,152,154,159,162,163,169,175,176,177,178,184,187,191,192,194,197,200,206,208,209,210,212,214,215,216,219,221,224,228,231,233,235,237,239,240,242,243,245,246,247,249,250,251,252,254,256,258,260,262,263,264,273,277,281,288,290,295,296,299,304,305,309,311,317,320,322,327,329,343,345,347,348,351,352,359,363,366,371,375,379,381,383,393,399,404,407,408,410,412,413,417,419,420,426,430,432,434,435,437,443,445,447,450,451,452,454,457,464,465,471,472,474,475,477,478,479,482,483,485,487,491,492,495,497,500,503,516,517,519,522,523,526,529,532,533,536,537,538,540,542,547,549,551,555,559,562,566,571,572,574,575,577,578,582,583,585,588,591,592,595,599,601,602,606,608,614,615,620,628,631,632,635,636,639,641,648,651,654,656,658,662,663,670,671,674,677,679,680,682,683,689,692,694,695,697,698,702,703,704,706,709,715,717,719,720,723,725,732,734,739,740,742,746,747,751,753,754,757,758,760,763,773,777,781,782,784,787,789,792,793,797,801,805,812,814,817,820,824,825,826,831,833,835,838,839,842,845,847,849,853,855,859,863,869,871,872,874,878,881,883,884,885,888,891,892,894,895,897,898,901,903,906,910,911,914,915,917,918,922,923,926,930,932,937,940,943,946,947,950,954,956,957,959,962,972,973,974,976,977,978,979,984,987,988,990,991,995,997,998,999 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 3,5,7,9,13,16,18,19,21,22,24,26,33,37,38,39,40,42,43,45,46,47,52,58,60,62,65,67,68,70,71,73,74,75,77,78,80,84,87,89,93,96,98,100,101,102,104,106,107,108,110,111,114,117,118,122,123,126,128,130,134,136,138,139,140,145,148,150,153,154,160,167,168,169,171,181,183,184,189,190,193,194,200,203,204,206,209,211,216,219,222,232,235,236,237,238,248,252,260,261,262,264,265,267,271,272,274,276,281,283,288,290,293,295,296,299,305,312,313,316,317,323,324,326,334,336,344,345,347,348,350,353,356,359,361,368,369,371,372,374,375,381,384,386,390,394,396,398,400,402,403,410,412,413,414,418,421,425,427,430,433,434,439,441,444,446,451,452,453,457,459,460,464,465,469,474,475,478,481,485,488,492,495,498,500,502,504,508,513,515,516,521,523,525,529,530,532,533,534,535,537,539,550,551,553,554,556,559,561,564,569,570,572,576,578,580,584,589,593,594,599,603,604,609,612,613,615,620,624,630,634,635,638,640,645,649,655,658,662,667,670,677,681,682,683,689,692,693,695,699,700,710,711,715,716,719,722,727,731,734,739,741,745,746,748,753,758,759,762,763,766,771,773,777,780,781,783,785,787,790,791,793,794,797,802,803,804,809,813,820,822,823,826,829,833,834,835,836,840,841,843,844,845,846,848,854,855,856,857,858,859,861,864,865,868,870,872,874,875,877,879,883,884,887,890,894,896,897,900,903,904,910,911,912,914,915,916,918,921,922,924,929,930,931,935,937,939,943,947,949,952,957,959,961,963,965,967,973,976,978,980,981,983,984,988,995,999 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,4,6,8,13,17,20,21,23,26,29,30,32,33,35,38,43,44,46,50,51,53,55,57,58,61,68,72,73,78,81,89,93,95,103,106,109,111,115,117,120,121,124,125,128,132,133,135,137,138,148,160,163,167,173,175,176,177,178,180,183,185,187,193,197,199,203,205,207,209,211,212,214,216,226,227,231,234,235,236,238,242,245,253,254,257,258,267,268,272,273,275,277,279,283,286,287,293,298,299,300,302,305,309,312,313,316,318,319,320,322,325,329,332,336,339,341,344,345,349,353,355,358,362,363,367,370,374,379,382,386,387,388,392,394,396,398,402,406,409,410,412,413,416,417,421,424,428,430,434,435,436,438,439,442,445,452,454,456,462,463,465,466,468,469,470,471,472,475,477,480,481,484,488,490,491,493,497,500,503,504,506,507,509,511,515,517,518,523,525,526,528,530,532,534,536,539,542,543,544,545,546,547,552,554,555,557,559,561,562,565,567,568,569,575,580,581,583,587,590,591,592,596,598,599,600,601,603,606,608,613,622,624,626,627,628,633,634,636,643,646,652,653,654,660,663,664,666,672,673,676,677,679,685,686,688,694,696,697,700,702,703,713,717,722,723,724,729,731,733,735,737,740,742,743,746,747,750,753,755,760,761,763,765,767,771,772,777,782,783,785,786,788,790,791,793,796,797,798,803,808,811,812,814,815,816,817,819,822,824,827,830,831,833,834,838,842,849,850,856,857,858,862,865,867,870,871,874,875,876,879,881,884,886,888,890,894,898,900,901,904,905,906,911,915,919,923,924,927,932,936,939,940,941,942,944,945,948,949,950,952,958,959,961,964,965,968,969,971,972,973,975,977,979,981,982,983,998,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 4,7,8,11,12,16,18,20,22,24,25,27,28,30,32,37,38,40,43,46,54,59,60,63,66,67,69,70,77,85,86,89,91,92,95,97,99,100,101,106,113,115,116,121,123,124,127,128,134,136,137,141,146,148,151,152,154,157,161,163,165,167,168,181,184,188,189,191,196,197,201,203,207,209,210,212,215,217,219,220,227,228,231,236,239,242,251,252,255,257,259,260,262,265,267,270,273,279,282,285,289,291,294,297,298,301,302,307,315,318,320,323,325,331,332,334,338,340,341,346,350,351,353,358,361,366,367,370,372,374,375,378,379,381,383,387,389,391,399,401,408,410,412,414,415,417,422,427,431,435,438,439,440,442,446,448,454,455,458,461,467,470,472,473,477,479,482,483,485,487,490,491,494,495,499,501,506,508,510,512,513,515,516,518,520,523,529,530,532,533,534,535,538,539,545,546,549,553,556,559,564,566,567,568,575,577,579,580,583,584,586,589,590,593,596,597,601,605,608,609,613,616,618,623,627,628,632,637,638,640,641,642,643,646,647,652,655,657,664,667,678,682,683,685,688,692,696,700,701,704,705,707,711,716,718,722,724,726,729,731,732,737,739,744,749,752,756,760,761,763,764,766,767,769,771,773,776,778,780,782,785,786,788,790,793,797,798,799,801,802,803,805,807,809,812,815,817,819,820,821,823,829,831,834,836,841,842,846,849,851,854,855,861,864,869,870,872,873,875,880,881,884,885,886,888,890,891,896,897,900,901,902,905,910,911,914,915,917,920,922,926,928,929,932,933,938,940,944,946,948,949,950,953,954,956,964,966,967,970,974,976,977,978,981,982,984,986,988,989,990,993,997,999,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 7,9,13,14,15,18,19,20,23,24,27,30,34,36,42,44,46,47,48,49,53,55,59,62,66,67,68,70,72,73,76,78,80,81,83,85,86,88,89,92,98,100,102,108,111,112,113,115,117,123,127,136,138,143,144,147,149,153,155,160,162,165,167,173,174,175,177,178,180,181,182,187,190,193,194,195,196,197,200,202,203,206,209,211,215,219,232,233,236,239,242,252,254,256,258,260,263,265,267,269,271,273,277,279,281,282,284,285,287,292,295,296,298,300,301,303,305,306,309,310,311,313,314,318,321,322,323,325,330,332,336,340,343,344,347,349,357,359,364,367,373,382,388,389,395,405,406,407,413,415,423,425,427,433,435,437,444,445,446,455,457,460,461,464,466,470,472,473,474,476,479,483,487,491,492,494,499,505,507,511,512,515,520,521,524,525,527,529,530,532,533,540,543,545,546,548,551,555,556,560,561,564,565,567,568,570,572,576,580,587,590,591,592,594,597,599,602,603,604,606,609,618,621,623,624,626,627,632,635,637,639,640,642,646,649,651,654,655,657,658,662,663,668,669,672,674,675,682,683,684,686,687,688,690,691,693,695,700,702,707,719,722,724,726,728,730,733,734,736,740,741,742,744,746,748,751,753,762,764,767,769,770,771,775,777,781,784,786,788,790,792,797,799,801,805,808,814,817,820,822,828,830,832,835,837,839,842,843,845,846,848,852,854,856,857,864,866,867,869,872,876,877,879,884,885,891,892,897,899,902,903,904,908,910,913,916,918,919,921,923,927,928,932,934,936,937,938,942,944,948,949,950,960,962,964,965,966,968,974,978,979,980,982,985,986,987,989,993,996,999,1000 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 6,10,11,12,15,16,18,22,24,25,27,30,35,37,39,42,45,49,50,52,55,56,59,60,64,66,72,73,75,76,80,82,87,88,93,94,97,100,102,103,105,107,109,113,114,118,122,126,130,132,136,137,143,144,146,149,150,152,155,156,157,160,161,162,166,168,171,172,184,187,188,189,190,193,194,198,199,207,210,211,214,215,221,223,224,225,226,228,230,231,238,240,241,247,251,252,255,256,258,261,263,265,266,267,268,269,272,274,278,279,281,285,294,296,302,304,307,308,313,315,318,319,322,323,325,329,341,342,344,346,348,352,355,356,362,371,375,378,379,385,387,389,392,394,398,399,401,403,407,418,421,427,430,434,436,438,439,443,444,447,450,458,460,461,468,471,477,479,481,482,486,489,491,492,494,496,501,502,503,506,507,511,518,523,526,529,531,535,536,540,541,546,550,551,556,560,564,566,567,568,575,577,579,581,582,585,586,588,589,595,596,599,601,604,610,613,615,617,618,619,623,625,626,627,628,630,635,636,638,639,642,646,651,653,655,657,659,663,665,666,670,675,678,679,680,687,689,691,692,694,698,699,703,705,707,709,716,719,724,727,732,734,737,738,739,741,742,743,747,748,750,751,752,756,760,762,763,765,768,770,771,773,774,780,781,784,785,789,793,795,801,802,803,805,808,811,815,816,818,823,826,829,831,833,835,837,839,845,849,851,856,861,864,866,868,873,874,875,876,881,885,888,890,904,909,913,914,915,917,920,921,923,928,930,931,938,941,943,945,948,952,955,957,960,963,964,967,973,978,981,984,988,990,993,995,999 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,6,8,12,13,16,17,19,20,23,26,27,31,32,33,35,36,40,41,42,46,58,59,61,64,65,66,70,72,76,77,81,85,88,91,92,93,96,101,103,107,108,117,118,119,121,126,128,132,136,137,139,140,142,144,147,149,150,152,157,160,161,164,166,167,168,171,173,174,177,180,184,187,189,191,193,197,199,200,201,204,206,212,213,214,217,220,222,224,226,228,229,231,233,234,236,241,242,243,249,250,252,255,257,261,268,273,275,277,282,284,286,289,291,293,296,300,301,303,304,306,307,311,315,323,328,329,333,335,336,339,340,345,346,349,351,352,357,361,363,366,373,379,380,383,390,391,393,399,400,402,403,405,410,411,413,414,417,425,430,431,432,437,442,446,448,449,451,452,453,454,462,464,468,474,476,478,480,482,484,487,488,494,495,498,499,501,504,506,508,511,518,520,521,523,525,528,529,530,532,534,541,542,545,548,550,552,554,556,558,561,562,563,566,567,571,572,574,575,577,580,583,585,586,592,597,599,600,605,610,613,615,621,625,629,630,633,637,639,640,644,645,650,653,654,656,667,671,673,675,678,679,690,692,694,696,698,701,702,703,706,707,710,711,714,715,717,720,721,725,728,733,737,743,746,747,750,752,755,758,759,762,765,766,768,769,770,772,775,778,779,781,787,789,790,793,795,796,797,798,803,807,816,818,821,822,823,826,829,830,840,842,843,847,851,852,855,856,859,863,864,867,869,872,877,878,879,882,885,888,890,891,893,895,898,909,911,913,924,925,929,930,938,943,944,948,949,952,956,958,960,962,963,964,966,967,974,975,979,984,986,988,991,992,994,997,999 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,3,5,7,8,9,11,15,18,19,21,23,24,27,28,30,33,39,40,42,43,47,50,53,55,60,61,66,68,69,71,74,75,79,80,83,84,91,92,105,121,122,125,128,132,135,137,138,142,145,146,148,149,151,154,158,159,160,162,163,164,167,168,169,173,175,178,186,189,194,197,198,201,203,205,207,208,209,211,212,214,215,219,222,225,226,230,231,236,238,241,242,247,249,251,254,256,258,259,262,263,265,267,268,272,273,275,277,279,280,287,289,291,293,295,298,299,310,315,319,320,326,327,329,332,336,338,340,343,346,348,351,352,362,365,367,372,373,374,377,383,386,387,389,392,393,395,396,397,399,402,403,405,406,408,411,413,415,418,421,425,426,427,429,431,434,435,436,440,441,442,443,446,449,453,455,456,457,458,459,462,463,465,467,469,474,475,478,479,480,486,489,494,498,500,501,505,506,508,509,512,513,514,515,516,520,526,527,529,530,531,541,542,545,550,553,554,555,560,562,564,565,568,570,572,577,578,580,581,582,584,585,592,593,598,601,605,609,612,613,615,618,621,622,626,628,632,634,635,637,640,641,643,647,650,655,656,659,660,661,665,666,670,671,673,676,678,680,684,686,690,691,694,696,697,699,701,703,706,708,709,718,719,721,722,726,729,730,732,736,737,742,746,748,753,755,756,757,758,760,763,765,767,768,770,771,773,774,780,781,784,786,787,793,796,800,801,804,805,807,809,813,814,815,818,819,820,822,823,826,832,833,836,838,840,842,847,851,852,853,856,858,859,866,868,872,873,876,880,883,886,892,893,896,898,899,901,903,908,910,912,915,916,917,919,921,926,927,930,936,937,942,943,947,949,955,958,959,961,962,970,971,978,982,983,984,986,990,992,994,996,999 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 9,10,12,13,17,21,25,26,29,33,39,40,44,45,50,52,55,57,59,60,61,64,65,66,71,72,74,76,80,82,84,86,88,90,92,95,98,101,102,106,107,109,110,116,120,125,130,133,134,137,139,140,143,151,154,162,163,165,170,173,175,176,186,189,191,193,196,199,200,201,205,208,210,214,215,218,221,231,235,237,239,246,250,252,255,264,266,267,268,270,272,276,285,292,293,296,298,299,300,305,307,310,313,314,320,321,324,326,330,331,333,334,336,342,344,348,349,350,353,361,362,363,365,371,373,375,379,380,385,389,392,393,397,398,400,401,403,404,408,409,413,419,424,425,428,430,435,436,437,440,441,443,444,447,451,456,459,460,467,470,471,474,475,478,479,480,483,484,487,489,491,493,495,499,503,505,507,513,514,516,517,518,520,521,522,524,525,529,531,532,535,537,541,543,544,545,547,549,553,554,557,563,564,565,567,570,571,573,574,576,577,581,583,586,587,588,590,591,593,596,598,600,601,603,607,608,611,615,619,622,624,625,626,628,631,634,636,638,641,643,644,648,650,659,661,662,664,667,668,671,672,674,675,676,681,685,687,688,690,696,701,704,705,710,719,720,729,730,733,736,737,738,742,743,744,746,748,751,752,754,757,758,759,765,766,772,775,777,780,786,787,788,789,791,792,793,795,798,800,802,806,807,809,811,812,815,819,820,823,824,827,829,835,842,844,846,848,850,852,853,855,868,872,873,876,877,883,885,887,889,890,895,899,900,901,904,906,907,910,915,918,920,921,923,925,926,928,930,932,934,938,939,941,953,954,959,964,965,968,969,971,972,973,975,977,978,979,982,993,996,999 --> row.names NOT usedWarning message:

Bagged CART

1000 samples
  20 predictor
   2 classes: '1', '2'

No pre-processing
Resampling: Bootstrapped (25 reps)
Summary of sample sizes: 1000, 1000, 1000, 1000, 1000, 1000, ...
Resampling results:

  Accuracy  Kappa
  0.73146   0.3222976

In [18]:
str(svmBag)

List of 3
 $ fit      :function (x, y, ...)
 $ pred     :function (object, x)
 $ aggregate:function (x, type = "class")

In [19]:
svmBag$fit

function (x, y, ...)
{
    loadNamespace("kernlab")
    out <- kernlab::ksvm(as.matrix(x), y, prob.model = is.factor(y),
        ...)
    out
}
<environment: namespace:caret>

In [20]:
bagctrl <- bagControl(fit = svmBag$fit, predict = svmBag$pred, aggregate = svmBag$aggregate)

In [21]:
install.packages("kernlab", repos = "https://cran.r-project.org")
library(kernlab)

Warning message:
: package 'kernlab' is in use and will not be installed

In [ ]:
set.seed(300)
svmbag <- train(default ~., data = credit, "bag", trControl = ctrl, bagControl = bagctrl)
svmbag

Warning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 3,6,8,9,10,13,15,17,22,27,28,32,33,36,37,39,42,43,45,47,50,51,55,57,59,60,63,64,65,67,69,73,78,80,86,89,95,100,104,110,112,118,120,121,124,128,129,132,134,135,138,139,140,144,150,151,154,155,157,162,165,166,167,169,175,177,179,180,182,190,194,195,201,203,207,209,213,215,216,218,220,222,225,227,229,233,235,238,241,243,245,246,248,252,254,255,264,268,273,274,275,279,280,281,286,287,289,291,293,295,297,300,302,306,311,315,319,320,322,324,326,327,334,338,341,342,348,349,351,352,356,358,360,363,369,370,372,374,377,378,384,386,388,393,394,396,398,400,403,404,405,407,410,413,414,420,422,425,427,428,435,440,443,445,447,448,450,452,454,459,461,464,465,466,468,469,471,473,475,476,478,480,481,486,487,489,490,492,493,498,501,502,507,514,516,518,522,523,529,536,542,546,548,551,552,554,557,559,561,563,566,569,570,571,574,575,581,582,584,586,587,590,591,593,600,603,605,607,610,612,613,616,618,620,622,623,627,629,633,636,637,641,644,647,651,655,657,658,659,661,664,666,667,669,670,676,681,682,684,685,689,690,691,692,694,695,697,698,700,701,702,704,706,711,713,715,717,718,722,723,725,726,728,729,730,738,745,746,750,752,754,755,757,758,763,765,767,769,771,774,776,785,787,790,793,795,797,798,802,803,806,808,819,822,823,828,830,831,833,834,835,840,842,843,846,849,851,857,860,864,866,867,868,872,873,875,876,878,880,882,883,885,887,889,893,895,897,898 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,5,7,10,12,13,18,21,24,25,39,42,44,45,50,52,53,54,56,58,59,60,62,65,69,72,73,74,75,79,82,83,88,92,94,95,97,102,103,105,107,109,111,112,113,115,117,122,125,128,131,134,136,139,142,145,150,154,156,158,163,164,168,170,171,173,176,178,186,187,188,192,194,198,199,201,202,204,210,215,216,219,221,222,223,226,227,233,237,242,243,256,258,259,261,265,271,274,278,282,284,289,294,296,298,301,303,304,305,311,312,314,315,317,319,329,332,333,334,335,337,340,348,350,353,356,358,359,369,376,377,379,380,381,386,392,397,398,401,403,405,408,410,413,414,419,422,423,426,429,432,433,436,438,441,442,444,450,453,454,458,463,466,470,472,474,476,479,482,483,485,486,487,491,495,498,500,503,504,506,510,513,515,522,524,531,534,540,541,544,545,546,549,550,551,553,555,556,560,562,564,566,569,575,576,578,581,582,583,585,586,589,592,595,596,598,599,601,605,607,609,612,614,619,621,623,624,626,627,629,630,632,638,640,643,644,646,648,651,653,655,656,657,659,664,670,673,680,684,687,694,696,705,707,709,710,712,721,722,725,730,734,736,737,739,742,744,746,747,750,751,753,754,759,761,762,765,766,768,771,772,776,778,781,782,787,792,797,799,801,803,811,815,818,820,823,824,826,827,829,831,832,836,837,838,840,841,844,850,854,857,858,859,862,863,867,870,871,875,876,878,881,883,886,887,891,893,897,899 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,4,7,16,18,22,28,30,32,34,36,38,39,42,43,44,45,47,50,52,54,55,57,58,63,66,67,69,71,75,76,80,83,87,91,98,99,100,103,106,109,112,114,115,116,119,121,122,124,127,133,135,139,141,143,145,147,150,151,152,159,162,163,169,170,175,179,180,183,185,190,193,195,196,201,205,213,219,223,225,228,232,233,237,238,240,243,244,245,247,251,261,263,264,266,268,271,273,274,276,280,281,282,283,286,288,290,292,293,298,300,301,304,305,307,308,311,312,315,317,319,320,323,336,342,343,345,348,350,354,356,357,361,368,372,374,378,380,383,384,386,388,391,395,397,399,402,403,408,409,413,415,417,421,422,427,433,437,438,439,441,447,448,450,454,455,456,457,460,462,471,474,476,477,478,480,487,491,492,497,500,504,505,506,508,510,511,519,525,532,539,543,545,547,550,554,557,559,560,563,565,569,570,571,573,575,576,578,579,581,582,585,588,591,594,604,606,612,614,617,622,630,633,635,636,639,640,641,643,648,651,658,659,663,665,669,670,673,677,678,680,683,684,685,691,692,694,696,699,703,704,705,708,714,715,717,718,721,722,731,732,733,735,737,741,744,747,749,753,754,757,761,776,787,788,790,793,795,800,802,804,807,809,811,812,815,819,820,823,824,826,832,833,836,840,844,848,852,853,856,857,860,861,864,866,868,869,871,874,876,878,880,884,886,888,891,892,894,899,900 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,3,6,9,12,14,18,22,25,27,28,31,33,35,37,39,40,41,43,45,46,47,52,62,64,66,68,71,72,76,78,80,84,89,90,93,96,99,100,103,104,107,108,110,112,114,115,117,119,121,124,126,127,128,132,133,134,137,138,141,142,144,150,156,157,159,160,161,163,166,167,168,170,172,173,176,184,190,192,193,194,196,203,208,211,215,219,225,228,230,232,233,235,244,246,247,250,252,254,255,258,262,263,266,268,270,271,273,275,279,287,288,291,293,294,296,298,300,302,303,304,308,314,319,321,323,326,327,330,332,333,334,336,338,341,343,345,346,348,350,351,352,357,359,361,363,365,370,375,383,386,394,397,398,411,413,415,420,421,426,429,432,433,435,437,438,439,443,450,454,459,466,468,469,470,472,474,477,479,480,485,489,492,494,498,500,501,504,514,516,523,526,529,534,538,539,542,546,550,551,554,561,563,564,566,568,571,573,574,576,577,581,583,587,588,590,593,596,598,599,607,609,611,615,619,623,624,628,629,631,641,645,649,652,654,657,661,662,663,665,666,668,672,675,676,680,682,685,691,694,700,701,710,711,713,714,716,719,722,727,734,735,738,741,750,752,753,755,758,759,762,764,766,767,768,771,773,774,780,782,785,786,787,793,794,797,799,806,807,809,812,816,820,821,823,824,830,840,841,843,847,849,851,854,855,856,865,868,871,872,878,879,880,884,893,894,895,897 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,7,8,15,17,19,20,21,23,24,29,33,35,39,40,46,47,50,51,52,56,58,60,62,64,66,69,73,75,76,80,82,84,88,91,93,96,97,101,108,109,111,114,125,127,130,131,135,138,140,144,148,151,155,156,159,160,161,162,164,166,168,169,170,172,174,177,178,183,185,190,196,200,202,204,205,206,210,212,214,216,221,223,225,228,230,234,235,240,245,247,251,253,255,258,260,263,269,272,275,278,286,292,298,300,301,303,305,306,307,309,312,318,319,325,326,327,328,332,337,339,346,353,355,359,360,363,364,365,367,368,378,379,381,382,386,387,391,393,396,398,402,405,409,411,413,416,417,420,424,426,428,431,435,441,443,444,446,449,450,453,454,457,460,461,464,466,472,475,476,477,481,486,487,490,491,497,498,499,501,504,507,510,517,518,519,527,529,536,541,542,553,560,565,567,573,575,577,578,579,580,584,587,588,589,591,592,593,595,598,600,603,604,605,608,612,613,616,618,620,622,624,625,626,630,631,639,641,642,646,648,649,652,655,657,658,661,663,668,669,671,679,680,681,683,685,687,691,692,698,700,704,705,707,709,711,712,716,718,722,723,730,733,739,741,746,748,752,753,759,762,763,765,766,770,771,774,775,777,778,782,784,786,793,802,803,805,806,808,809,810,818,819,823,824,826,827,828,830,832,837,838,842,844,845,846,848,852,854,857,863,869,872,876,879,882,885,886,893,895,896,897,898 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 5,8,9,13,15,17,18,20,22,24,25,27,28,31,33,36,37,41,43,45,47,48,51,57,58,60,66,68,69,72,73,75,76,79,80,82,83,87,91,93,94,96,99,104,105,106,109,110,111,112,114,116,117,120,123,124,131,132,133,140,143,145,146,147,152,159,163,166,167,173,178,179,186,192,194,196,199,205,207,209,212,216,219,220,223,224,226,229,236,238,241,242,244,246,250,253,256,258,261,263,264,265,271,272,276,280,287,288,291,298,300,301,302,304,306,310,313,316,317,320,321,322,324,331,332,334,336,338,339,345,346,349,357,358,360,362,365,368,369,373,379,385,390,394,397,398,401,403,405,407,408,411,416,418,420,421,424,428,432,433,436,438,439,443,444,445,448,454,455,459,461,463,465,473,475,478,485,496,498,501,504,510,512,515,516,518,522,525,526,527,530,532,533,535,538,539,547,548,553,556,558,560,561,563,565,568,569,570,572,575,576,579,581,582,583,585,586,589,596,599,600,602,603,608,610,612,616,620,623,625,626,629,631,632,635,639,640,646,647,649,656,663,666,670,672,677,681,683,686,687,688,689,693,694,697,699,706,708,710,718,720,722,723,725,728,733,736,738,744,746,749,752,755,756,758,760,763,765,766,769,772,774,775,777,778,786,787,792,793,795,796,797,800,801,805,809,812,814,816,819,820,823,826,832,834,837,844,850,851,853,855,856,859,861,863,865,866,870,871,873,879,881,882,883,888,890,893,897,898 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,4,6,8,10,11,13,16,19,21,23,24,27,28,30,35,40,42,44,46,51,52,54,58,62,68,70,71,72,74,75,76,78,85,89,93,95,96,98,101,103,104,105,106,107,110,111,112,113,114,118,119,121,126,128,130,134,139,141,143,145,147,153,158,162,165,169,172,180,181,183,187,188,189,190,194,196,199,201,202,206,208,209,210,212,213,217,218,219,220,226,230,232,234,238,240,243,247,250,253,254,257,261,270,275,276,278,279,281,282,288,290,291,294,298,299,301,304,308,311,312,313,316,320,322,325,327,328,334,336,338,340,343,344,346,348,349,350,352,357,359,360,362,365,369,370,372,373,374,376,378,379,390,391,393,396,399,404,409,410,411,414,416,417,423,425,429,431,433,435,438,440,442,444,446,448,451,454,455,458,468,470,472,474,483,485,488,490,492,493,495,499,505,506,508,509,512,516,517,519,520,522,530,531,533,535,536,537,539,541,543,544,547,549,552,553,555,557,560,561,562,565,568,574,577,578,580,582,585,588,591,592,595,597,600,608,609,613,614,616,618,621,625,628,629,631,633,635,639,641,643,645,646,650,651,656,658,660,662,663,667,670,677,687,688,689,690,694,696,700,702,704,708,711,712,719,720,724,726,728,729,731,732,733,735,741,745,750,753,754,755,757,762,765,767,769,778,780,783,784,785,788,799,800,802,804,806,807,811,813,815,817,818,819,821,822,828,831,833,834,836,840,842,847,849,853,854,857,858,861,862,865,867,868,870,874,876,880,881,883,887,889,891,893,897 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 3,4,5,7,15,17,24,25,29,34,36,40,41,43,50,51,52,54,56,58,59,60,61,63,64,65,69,70,78,80,82,83,86,88,89,92,94,96,98,100,102,105,107,109,112,113,115,120,124,135,137,139,140,142,143,145,146,151,152,153,156,157,161,164,166,167,174,175,181,185,186,187,190,191,193,197,200,207,209,212,214,216,218,222,223,229,230,231,235,237,241,249,251,261,262,265,266,270,271,273,274,276,280,281,282,285,291,292,293,294,296,298,299,301,305,308,309,311,318,319,322,325,332,334,338,341,343,346,347,350,352,354,356,358,362,364,365,366,373,375,377,383,393,398,400,402,404,407,410,411,412,416,417,418,424,437,439,440,444,446,447,449,451,456,460,464,468,469,471,472,477,480,482,486,487,491,494,500,501,502,504,506,515,522,526,527,529,535,536,537,541,542,543,545,548,550,552,555,557,564,566,567,569,573,574,577,578,583,586,588,589,594,598,599,601,602,603,604,611,612,613,619,622,624,625,627,629,635,637,642,644,646,647,653,657,660,665,668,672,674,675,678,679,681,682,684,685,689,691,693,694,695,698,701,709,712,713,715,716,717,719,720,723,724,725,727,728,731,737,739,741,744,745,746,750,751,758,760,761,763,764,766,770,774,775,777,783,784,786,788,792,802,804,809,812,815,817,818,820,827,829,834,837,838,840,847,854,855,856,860,862,865,867,868,876,879,880,882,885,886,888,890,894,896 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 3,7,8,10,12,13,18,19,21,24,27,30,31,32,34,35,38,40,41,42,43,47,51,53,56,57,58,60,63,64,67,73,76,79,81,82,88,90,92,93,96,99,102,105,110,112,117,118,119,121,124,125,129,134,136,139,144,145,146,148,149,152,156,158,160,161,164,167,169,170,171,174,177,178,180,182,189,192,193,196,202,203,205,207,211,212,214,216,218,219,221,223,226,228,232,234,236,237,240,245,246,252,255,256,258,260,264,266,267,270,272,275,278,279,280,284,285,286,288,291,292,293,295,297,299,309,311,313,318,320,322,324,326,327,329,330,332,336,338,341,346,347,352,357,359,363,365,369,370,372,374,375,376,378,381,382,387,389,390,391,400,401,408,414,416,420,424,428,430,433,438,442,444,446,448,454,455,456,458,459,460,463,471,472,475,480,486,487,490,494,498,499,501,503,506,507,510,517,519,520,522,524,528,531,535,538,539,541,544,546,548,551,553,556,562,564,565,567,568,570,572,574,577,580,582,586,587,588,593,596,598,602,609,610,612,614,615,617,621,623,624,626,627,635,636,638,640,645,654,663,664,670,672,683,685,686,687,691,693,695,698,699,701,703,707,710,711,713,716,717,720,722,723,735,739,741,742,744,747,751,753,758,760,765,766,769,770,771,780,782,787,788,790,791,794,796,797,798,803,806,808,814,817,820,821,823,825,831,833,834,840,842,844,845,847,849,850,852,853,857,859,860,861,863,868,871,873,875,879,884,887,895,896,898,899,900 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 8,10,13,16,17,18,22,23,25,27,28,30,31,34,36,37,40,41,45,46,51,54,60,63,66,68,70,72,74,76,78,81,82,84,86,87,88,90,91,100,101,103,107,108,111,119,120,122,124,127,128,130,132,133,142,143,146,147,151,154,155,160,162,163,165,166,168,172,175,177,180,190,195,197,199,201,202,205,206,209,210,211,213,216,220,222,227,229,230,235,236,238,239,244,245,247,249,250,253,256,260,261,263,264,265,271,275,277,279,280,283,284,286,288,290,293,294,295,308,312,317,319,321,323,324,325,331,333,336,344,346,349,350,352,354,358,360,365,366,372,375,378,379,380,382,384,385,392,393,400,402,404,408,410,412,416,417,418,419,421,422,423,424,426,427,428,430,432,434,436,437,438,442,443,446,448,450,455,461,463,465,467,473,475,477,478,481,486,490,492,494,499,505,507,510,511,513,516,518,519,521,524,526,531,533,534,536,538,540,541,543,550,555,556,558,567,571,574,576,579,581,582,587,588,590,591,595,600,603,604,605,608,610,611,612,617,618,619,622,623,630,632,633,634,639,643,646,648,650,651,653,658,660,664,667,672,674,677,681,683,688,690,691,692,694,695,701,704,708,709,711,714,715,717,718,719,722,723,724,726,727,729,731,734,735,736,739,744,747,749,750,754,755,759,761,766,771,772,777,781,782,786,787,789,790,791,795,797,801,802,805,809,810,811,821,828,832,834,838,840,842,843,848,851,855,856,859,860,861,863,865,867,869,871,873,875,877,881,883,886,888,889,895,896,899,900 --> row.names NOT usedWarning message:
In eval(expr, envir, enclos): model fit failed for Fold01: vars=48 Error in fitter(btSamples[[iter]], x = x, y = y, ctrl = bagControl, v = vars,  :
  task 1 failed - "no applicable method for 'predict' applied to an object of class "c('ksvm', 'vm')""
Warning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,9,12,13,15,16,18,19,21,26,28,33,35,41,43,47,51,53,56,58,60,65,66,68,71,72,77,79,80,82,83,86,89,94,95,98,104,107,108,109,112,114,119,124,126,129,130,132,134,136,137,138,141,142,143,145,146,148,152,154,155,157,160,164,165,170,171,173,175,178,179,181,184,186,187,190,192,196,197,198,202,208,210,212,214,216,217,218,220,222,224,226,230,233,235,237,241,243,245,247,248,249,250,253,255,256,259,262,268,269,271,275,276,277,279,282,283,287,289,292,294,296,297,298,303,304,309,312,313,317,318,319,324,331,337,344,347,352,355,358,360,362,366,370,372,373,376,380,381,385,389,397,399,400,404,406,408,413,414,417,421,431,432,433,437,443,445,448,451,452,461,462,464,465,467,469,472,473,476,481,485,488,491,492,494,502,505,506,508,509,510,514,515,516,520,522,523,529,530,531,533,535,542,544,548,549,551,552,561,562,570,577,578,580,581,585,587,589,591,592,593,595,596,599,601,608,610,613,616,618,622,624,625,626,630,632,635,637,640,641,646,648,649,651,653,656,658,659,663,665,667,668,672,675,677,678,680,686,688,691,692,695,697,700,702,706,708,710,711,713,715,718,720,722,725,727,732,736,738,740,743,744,745,747,750,757,758,762,763,764,766,767,768,769,771,773,777,782,783,787,789,790,798,799,803,807,810,811,814,817,824,826,829,832,835,838,840,844,849,855,857,860,862,867,869,874,875,877,880,881,882,883,885,890,891,894,895,896,898,900 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,3,6,7,11,13,15,18,25,27,36,42,45,47,48,51,53,57,61,63,64,65,66,69,71,75,77,79,80,86,95,102,106,107,108,110,111,112,114,117,119,123,129,130,136,141,143,144,148,153,154,156,163,166,172,173,174,176,186,187,189,190,193,194,198,199,202,206,209,211,212,214,216,219,220,224,227,228,229,230,232,236,242,246,249,258,266,268,269,271,276,278,280,281,283,284,286,287,292,293,295,297,310,311,312,314,316,318,322,324,327,329,333,337,338,345,347,350,351,352,353,356,357,360,361,366,367,368,373,376,377,378,386,387,390,393,394,396,397,401,403,407,408,413,422,423,432,434,437,439,440,442,444,445,449,450,454,457,459,460,466,467,469,471,476,481,482,483,486,488,491,492,493,500,502,504,506,509,511,512,514,515,519,520,524,526,529,533,541,546,548,550,560,566,568,572,574,576,582,585,587,588,591,592,593,594,596,597,599,601,603,605,606,608,613,616,617,622,624,627,629,631,632,636,638,639,641,646,650,651,653,659,660,664,665,666,667,669,670,672,675,679,680,682,687,688,693,694,695,698,699,700,704,714,718,724,726,728,729,734,735,738,744,745,746,749,750,752,756,757,759,762,764,767,770,772,775,776,779,782,786,788,789,790,791,795,796,799,802,805,808,812,815,817,818,819,824,826,829,834,835,837,841,843,846,847,849,855,859,860,861,864,869,872,873,875,876,877,882,886,887,890,893,896,897 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 4,5,6,8,12,18,21,23,27,29,33,34,38,40,42,44,45,46,54,56,59,60,63,64,65,73,74,76,82,84,87,90,92,93,94,95,104,110,116,117,122,124,125,129,131,132,136,138,141,144,145,148,151,154,156,158,159,160,161,165,166,167,171,172,174,178,182,183,189,191,193,195,201,203,206,210,215,220,221,222,224,225,232,233,237,240,242,243,246,247,249,251,254,259,262,263,266,270,272,277,278,280,283,285,286,291,294,296,298,300,302,309,312,315,318,320,322,323,325,326,328,330,331,333,336,339,341,342,343,345,349,354,355,363,366,367,369,371,375,379,380,383,386,389,391,392,396,397,398,400,406,408,411,414,415,416,418,419,421,425,426,427,429,430,434,435,436,438,439,441,447,449,452,463,466,470,474,475,478,480,481,483,486,487,490,491,493,494,496,497,502,506,507,509,511,516,519,521,524,525,527,529,530,532,536,540,543,548,549,555,556,557,560,564,565,570,571,574,575,577,579,580,581,585,586,588,589,596,601,602,605,607,608,614,615,618,620,628,634,635,636,639,641,645,646,648,652,654,658,662,664,666,669,671,672,674,677,688,691,696,697,698,701,705,709,710,712,715,719,720,725,726,735,737,741,743,745,748,750,753,755,756,761,765,766,768,770,771,778,780,783,784,802,803,812,813,815,816,819,825,827,829,833,834,842,844,845,846,851,852,855,858,860,862,867,869,870,871,874,876,878,880,881,882,886,887,890,900 --> row.names NOT usedWarning message:
In data.row.names(row.names, rowsi, i): some row.names duplicated: 2,6,8,9,11,18,21,22,28,31,33,35,38,48,50,51,55,60,63,64,67,69,71,75,79,80,83,84,85,89,91,93,98,100,104,109,110,111,115,117,120,124,127,128,132,136,144,145,146,156,158,159,161,163,165,167,170,171,181,182,183,185,193,194,195,196,198,200,202,203,207,208,215,216,219,225,228,229,231,237,238,243,247,248,252,253,256,257,259,263,265,266,267,268,271,273,283,286,296,299,301,304,305,310,313,314,318,326,330,333,339,340,344,346,347,351,354,355,356,358,360,361,362,363,365,366,373,374,376,377,378,382,384,386,388,393,394,408,410,412,414,415,416,419,421,422,424,426,429,435,438,440,445,449,452,454,458,460,462,464,467,468,469,472,474,475,479,480,482,485,486,490,491,493,494,496,499,500,503,505,507,511,512,515,519,522,525,529,532,534,536,538,540,541,543,553,557,558,559,561,566,567,571,573,577,578,580,582,584,587,594,597,598,599,602,603,605,606,607,608,610,612,614,615,617,618,619,625,629,631,632,635,638,639,641,643,645,648,650,652,655,658,660,661,666,670,672,674,675,676,679,681,682,683,684,688,690,691,695,696,697,704,706,710,712,713,717,721,723,725,729,730,732,734,735,739,741,744,747,748,757,761,763,767,771,777,783,785,787,790,794,797,801,804,805,807,811,812,813,815,818,820,822,824,829,834,837,838,839,842,845,848,851,853,855,858,861,862,863,870,871,872,873,877,878,880,881,882,889,891,893,895,899 --> row.names NOT usedWarning message:

In [24]:
head(credit)

  checking_balance months_loan_duration credit_history   purpose amount
1           < 0 DM                    6       critical  radio/tv   1169
2       1 - 200 DM                   48         repaid  radio/tv   5951
3          unknown                   12       critical education   2096
4           < 0 DM                   42         repaid furniture   7882
5           < 0 DM                   24        delayed car (new)   4870
6          unknown                   36         repaid education   9055
  savings_balance employment_length installment_rate personal_status
1         unknown           > 7 yrs                4     single male
2        < 100 DM         1 - 4 yrs                2          female
3        < 100 DM         4 - 7 yrs                2     single male
4        < 100 DM         4 - 7 yrs                2     single male
5        < 100 DM         1 - 4 yrs                3     single male
6         unknown         1 - 4 yrs                2     single male
  other_debtors residence_history                 property age installment_plan
1          none                 4              real estate  67             none
2          none                 2              real estate  22             none
3          none                 3              real estate  49             none
4     guarantor                 4 building society savings  45             none
5          none                 4             unknown/none  53             none
6          none                 4             unknown/none  35             none
   housing existing_credits                job dependents telephone
1      own                2   skilled employee          1       yes
2      own                1   skilled employee          1      none
3      own                1 unskilled resident          2      none
4 for free                1   skilled employee          2      none
5 for free                2   skilled employee          2      none
6 for free                1 unskilled resident          2       yes
  foreign_worker default
1            yes       1
2            yes       2
3            yes       1
4            yes       1
5            yes       2
6            yes       1

In [25]:
#Random Forests
#Training random forests
install.packages("randomForest", repos = "https://cran.r-project.org")
library(randomForest)

package 'randomForest' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Administrator\AppData\Local\Temp\RtmpU18n4d\downloaded_packages

Warning message:
: package 'randomForest' was built under R version 3.2.5randomForest 4.6-12
Type rfNews() to see new features/changes/bug fixes.

Attaching package: 'randomForest'

The following object is masked from 'package:ggplot2':

    margin

In [28]:
set.seed(300)
rf <- randomForest(default ~ ., data = credit)
rf

Call:
 randomForest(formula = default ~ ., data = credit)
               Type of random forest: classification
                     Number of trees: 500
No. of variables tried at each split: 4

        OOB estimate of  error rate: 23.7%
Confusion matrix:
    1   2 class.error
1 643  57  0.08142857
2 180 120  0.60000000

In [ ]:
#Evaluating random forest performance (auto-tuned random forest vs auto-tuned boosted C5.0)
ctrl <- trainControl(method = "repeatedcv", number = 10, repeats = 10)

In [ ]:
#Random forest
grid_rf <- expand.grid(.mtry = c(2, 4, 8 ,16))
grid_rf
set.seed(300)
m_rf <- train(default ~ ., data = credit, method = "rf", metric = "Kappa", trControl = ctrl, tuneGrid = grid_rf)

In [ ]:
#C5.0
grid_c50 <- expand.grid(.model = "tree", .trials = c(10, 20, 30, 40), .winnow = "FALSE")
set.seed(300)
m_c50 <- train(default ~ ., data = credit, method = "C5.0", metric = "Kappa", trControl = ctrl, tuneGrid = grid_c50)

In [ ]:
m_rf
m_c50